/* Forside */
.mainNav h1 span {
  display: inline-block;
  transform: scaleX(-1) translateX(-0.2rem);
  color: red;
}
.mainNav > * {
  margin: 0;
}

.kategorier {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
}

.kategorier a {
  text-decoration: none;
  padding: 2em;
  color: white;
  background-color: gray;
  border-radius: 0.5em;
}

/* Produktlist */
.produktliste main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
}

.produktliste main h2 {
  grid-column: 1/-1;
}

.produktliste img {
  max-width: 100%;
}

.produktliste article > * {
  margin: 0;
  font-size: 0.9rem;
}

.produktliste article {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 6;
  gap: 0;
}

.produktliste .soldout_text {
  display: block;
}

.produktliste .discounted_element {
  display: none;
}

.produktliste .discounted_element p,
.produktliste .discounted.soldout .discounted_element p {
  display: none;
}

.produktliste .discounted .discounted_element {
  display: flex;
  justify-content: space-between;
  & p {
    display: block;
  }
}

.soldout_img {
  display: grid;
  > * {
    place-self: start start;
    grid-area: 1/1;
  }
}

.soldout_text {
  background-color: black;
  color: white;
}

.soldout {
  opacity: 0.3;
}

/* Produkt */
.produkt {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.produkt img {
  max-width: 80%;
}
